<h5>This is server module</h5>
<!--<app-server></app-server>-->
<!--<app-server></app-server>-->
<!--<app-successalert></app-successalert>-->
<div app-successalert></div>
<app-warningalert></app-warningalert>

<div class="container">
  <div class="row">
    <label>Enter Username</label>
    <input type="text" class="form-control" [(ngModel)]="username">
    <p>{{username}}</p>

    <button class="btn btn-primary" [disabled]="!username" (click)="onFormButtonClick()">Create User</button>
  </div>
</div>
